:host {
  --gap: 1.6vmin;
  --padding: 1.6vmin;
}

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: var(--padding);
  gap: var(--gap);
  grid-template-areas:
    "header header header header header"
    "sidebar content content content aside"
    "sidebar content content content aside"
    "sidebar content content content aside"
    "sidebar content content content aside";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 1.5fr 1.5fr 1fr;
}
