<div class="layout">
  <header class="layout__header">Uniterminator</header>

  <nav class="layout__sidebar">
    <form class="sidebar__form">
      <input
        class="form-control form-control--full"
        type="text"
        name="expressionA"
        placeholder="Expression A"
      />
      <input
        class="form-control form-control--full"
        type="text"
        name="expressionB"
        placeholder="Expression B"
      />
      <input
        class="form-control form-control--full"
        type="text"
        name="operation"
        placeholder="Operation"
      />

      <div class="sidebar__section sidebar__form-actions">
        <button type="button" class="form-control form-control--full">
          Parallelize
        </button>
        <button type="button" class="form-control form-control--full">
          Eliminate
        </button>
      </div>
    </form>

    <div class="sidebar__section sidebar__message">
      <p class="sidebar__message-text">First, create a parallelized operation</p>
    </div>
    <div class="sidebar__section sidebar__swap">
      <button type="button" class="form-control form-control--flex sidebar__swap-button">
        Swap A
      </button>
      <button type="button" class="form-control form-control--flex sidebar__swap-button">
        Swap B
      </button>
    </div>

    <div class="sidebar__section sidebar__clear">
      <button type="button" class="form-control form-control--flex sidebar__clear-button">
        Clear
      </button>
    </div>

    <div class="sidebar__section sidebar__save">
      <input
        class="form-control form-control--flex sidebar__save-input"
        type="text"
        name="saveName"
        placeholder="Save name"
      />
      <button type="button" class="form-control form-control--flex sidebar__save-button">
        Save
      </button>
    </div>
  </nav>

  <main class="layout__content">
    <app-expression-arc
      [expressionA]="'4'"
      [operatorSymbol]="';'"
      [expressionB]="'5'"
    ></app-expression-arc>
    <app-expression-segment
      [expressionA]="'4'"
      [operatorSymbol]="';'"
      [expressionB]="'5'"
    ></app-expression-segment>
  </main>

  <aside class="layout__aside">
    <div>20/04/2025 23:09</div>
  </aside>
</div>
