<div class="layout">
  <header class="layout__header">Uniterminator</header>
  <nav class="layout__sidebar">
    <input type="text" placeholder="Expression A"/>
    <input type="text" placeholder="Expression B"/>
    <input type="text" placeholder="Operation"/> 
    <input type="submit" value="Parallelize"/>
    <input type="submit" value="Eliminate"/>
  </nav>
  <main class="layout__content">
    <app-expression-arc
      [expressionA]="'4'"
      [operatorSymbol]="';'"
      [expressionB]="'5'">
    </app-expression-arc>
    <app-expression-segment
      [expressionA]="'4'"
      [operatorSymbol]="';'"
      [expressionB]="'5'">
    </app-expression-segment>
  </main>
  <aside class="layout__aside">
  </aside>
</div>
