<main class="main-content__body">
  <app-expression-arc
    [expressionA]="parallelExpressionA"
    [expressionB]="parallelExpressionB"
    [operatorSymbol]="parallelOperatorSymbol">
  </app-expression-arc>

  <app-expression-segment
    [expressionA]="eliminateExpressionA"
    [expressionB]="eliminateExpressionB"
    [operatorSymbol]="eliminateOperatorSymbol"
    [expressionC]="eliminateExpressionC">
  </app-expression-segment>

  <app-expression-arc-with-segment
    *ngIf="swapSide"
    [expressionA]="parallelExpressionA"
    [expressionB]="parallelExpressionB"
    [operatorSymbol]="parallelOperatorSymbol"
    [swapSide]="swapSide"
    [segmentParams]="{
      expressionA: eliminateExpressionA,
      expressionB: eliminateExpressionB,
      operation:  eliminateOperatorSymbol,
      expressionC: eliminateExpressionC
    }">
  </app-expression-arc-with-segment>
</main>
