<nav class="layout-sidebar">
  <form class="layout-sidebar__form">
    <div class="layout-sidebar__section layout-sidebar__form-actions">
      <control-button label="Parallelize" (click)="parallelize()"></control-button>
      <control-button label="Eliminate"/>
    </div>

    <text-input
      [(ngModel)]="expressionA"
      name="expressionA"
      ariaLabel="Expression A"
      id="expressionA"
      placeholder="Expression A">
    </text-input>

    <text-input
      [(ngModel)]="expressionB"
      name="expressionB"
      ariaLabel="Expression B"
      id="expressionB"
      placeholder="Expression B">
    </text-input>

    <text-input
      [(ngModel)]="operation"
      name="operation"
      ariaLabel="Operation"
      id="operation"
      placeholder="Operation">
    </text-input>

    <div class="layout-sidebar__section layout-sidebar__form-actions">
      <control-button label="Draw"/>
    </div>
  </form>

  <div class="layout-sidebar__section layout-sidebar__message">
    <notification status="First, create a parallelized operation"/>
  </div>

  <div class="layout-sidebar__section layout-sidebar__swap">
    <control-button label="Swap A"/>
    <control-button label="Swap B"/>
  </div>

  <div class="layout-sidebar__section layout-sidebar__clear">
    <control-button label="Clear"/>
  </div>

  <div class="layout-sidebar__section layout-sidebar__save">
    <text-input
      ariaLabel="Name"
      id="name"
      placeholder="Name"/>
    <control-button label="Save"/>
  </div>
</nav>
