:host {
  --sidebar-input-padding: 1.6vmin;
  --sidebar-input-radius: 1.6vmin;
  --sidebar-input-font-size: 2vh;
  --sidebar-input-line-height: 1.4;
  --sidebar-input-padding-vertical: 1.2vmin;
  --sidebar-input-padding-horizontal: 2.4vmin;
  --sidebar-input-border-width: 0.3vmin;
  display: contents;
}

.sidebar-input {
  box-sizing: border-box;
  font-size: var(--sidebar-input-font-size);
  line-height: var(--sidebar-input-line-height);
  padding: var(--sidebar-input-padding-vertical) var(--sidebar-input-padding-horizontal);
  border: 0.05vmin solid #f0f0f4;
  color: black;
  border-radius: var(--sidebar-input-padding);
  background-color: #F4F4F4;
  width: 100%;
}
