:host {
  --sidebar-button-padding: 1.6vmin;
  --sidebar-button-radius: 1.6vmin;
  --sidebar-button-font-size: 2vh;
  --sidebar-button-line-height: 1.4;
  --sidebar-button-padding-vertical: 1.2vmin;
  --sidebar-button-padding-horizontal: 2.4vmin;
  --sidebar-button-border-width: 0.3vmin;
  display: contents;
}

.sidebar-button {
  box-sizing: border-box;
  font-size: var(--sidebar-button-font-size);
  line-height: var(--sidebar-button-line-height);
  padding: var(--sidebar-button-padding-vertical) var(--sidebar-button-padding-horizontal);
  border: 0.05vmin solid #f56557;
  color: black;
  border-radius: var(--sidebar-button-radius);
  background-color: #FF6F61;
  cursor: pointer;
  width: auto;
  flex: 1;
}
