:host {
  --control-font-size: 2vh;
  display: contents;
}

.layout__aside {
  grid-area: aside;
  background-color: #2A2D34;
  color: ghostwhite;
  border: 0.05vmin solid ghostwhite;
  box-shadow: 0 0 0.05vmin ghostwhite;
  font-size: var(--control-font-size);
  border-radius: 1.6vmin;
  padding: 1.6vmin;
}

.storage-panel {
  display: flex;
  align-items: start;
}

.title-header__icon-img {
  color: #FF6F61;
  margin-left: 0.5vmin;
}
