<aside class="layout-sidebar">
  <form class="layout-sidebar__form">

    <div class="layout-sidebar__section layout-sidebar__form-actions">
      <control-button
        label="Parallelize"
        [active]="mode === 'parallelize'"
        (click)="parallelize()"
        (keydown.enter)="parallelize()">
      </control-button>
      <control-button
        label="Eliminate"
        [active]="mode === 'eliminate'"
        (click)="eliminate()"
        (keydown.enter)="eliminate()">
      </control-button>
    </div>

    <text-input
      [(ngModel)]="expressionA"
      name="expressionA"
      ariaLabel="Expression A"
      id="expressionA"
      placeholder="Expression A">
    </text-input>

    <text-input
      [(ngModel)]="expressionB"
      name="expressionB"
      ariaLabel="Expression B"
      id="expressionB"
      placeholder="Expression B">
    </text-input>

    <select
      [(ngModel)]="operation"
      name="operation"
      aria-label="Operation"
      id="operation"
      class="sidebar-select">
      <option value="" disabled selected>Select Operation</option>
      <option value=",">Comma</option>
      <option value=";">Semicolon</option>
    </select>

    <text-input
      *ngIf="mode === 'eliminate'"
      [(ngModel)]="expressionC"
      name="expression"
      ariaLabel="Expression"
      id="expression"
      placeholder="Expression">
    </text-input>

    <div class="layout-sidebar__section layout-sidebar__form-actions">
      <control-button
        label="Draw"
        (click)="draw()"
        (keydown.enter)="draw()">
      </control-button>
    </div>

  </form>

  <div class="layout-sidebar__section layout-sidebar__message">
  </div>
  <div class="layout-sidebar__section layout-sidebar__swap">
    <control-button
      label="Swap A"
      [active]="isDrawn && swapMode === 'A'"
      (click)="onSwapA()"
      (keydown.enter)="onSwapA()">
    </control-button>
    <control-button
      label="Swap B"
      [active]="isDrawn && swapMode === 'B'"
      (click)="onSwapB()"
      (keydown.enter)="onSwapB()">
    </control-button>
  </div>
  <div class="layout-sidebar__section layout-sidebar__clear">
    <control-button
      label="Clear"
      (click)="clear()"
      (keydown.enter)="clear()">
    </control-button>
  </div>
  <div class="layout-sidebar__section layout-sidebar__save">
    <text-input
      ariaLabel="Name"
      id="name"
      placeholder="Name">
    </text-input>
    <control-button label="Save"></control-button>
  </div>
</aside>
