:host {
  --main-content-padding: 1.6vmin;
  --main-content-radius: 1.6vmin;
  display: contents;
}

.main-content__body {
  border-radius: var(--main-content-radius);
  padding: var(--main-content-padding);
  grid-area: content;
  background-color: #2A2D34;
  border: 0.05vmin solid #E5E5E5;
  box-shadow: 0 0 0.05vmin ghostwhite;
  overflow: auto;
}

.component-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
